@rendermode InteractiveServer

<div>
	<h2>Snekpoeng: @_game.Score</h2>

	<div style="background-color: black;">
		@for (var i = 0; i < Game.Size.Height; i++)
		{
			<div class="snek-row">
				@for (var j = 0; j < Game.Size.Width; j++)
				{
					<Cell
						Row="@i"
						Col="@j"
						Value="@_game.Grid[i][j]"
						SnekDirection="@Direction.Down"
					/>
				}
			</div>
		}
	</div>
</div>

@code {

	private Game _game = new();

}
