@using Snek.Client.SnekLogic
@using System.Windows
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using Snek.Client.Services
@rendermode InteractiveServer
@inject IConfiguration conf;
<div>
	<h2>Snekpoeng: @Game.Score</h2>
	<h2>@ClientId</h2>

	<div style="background-color: black;">
		@for (int i = 0; i < Game.Grid.Length; i++)
		{
			<div class="snek-row">
				@for (int j = 0; j < Game.Grid[0].Length; j++)
				{
					<Cell
						Row="@i"
						Col="@j"
						Value="@Game.Grid[i][j]"
						SnekDirection="@Direction.Down"
					/>
				}
			</div>
		}
	</div>
</div>

@code {
	string ClientId;

	protected override async Task OnInitializedAsync()
	{
        ClientId = conf["Authentication:Google:ClientId"];
        string ClientSecret = conf["Authentication:Google:ClientSecret"];
	}

	private Game Game = new Game();
	
}
