@rendermode InteractiveServer
@inject IConfiguration Configuration;
<div>
	<h2>Snekpoeng: @_game.Score</h2>

	<div style="background-color: black;">
		@for (int i = 0; i < _game.Grid.Length; i++)
		{
			<div class="snek-row">
				@for (int j = 0; j < _game.Grid[0].Length; j++)
				{
					<Cell
						Row="@i"
						Col="@j"
						Value="@_game.Grid[i][j]"
						SnekDirection="@Direction.Down"
					/>
				}
			</div>
		}
	</div>
</div>

@code {

	private Game _game = new();
	
}
