@page "/best-sneks"
@attribute [Authorize]
@attribute [StreamRendering]
@inject GameService GameService;

@using Snek.Services

<h3>Best Sneks</h3>

@if (_scores is null)
{
	<p><em>Loading...</em></p>
}
else if (_scores.Count == 0)
{
	<p>No highsneks yet :(</p>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Score</th>
			<th>Time</th>
		</tr>
		</thead>
		<tbody>
		@for (int i = 0; i < _scores.Count(); i++)
	{
		<tr>
		<td>@(i + 1)</td>
		<td>@_scores[i].User.UserName</td>
		<td>@_scores[i].Points</td>
		<td>@_scores[i].Timestamp.ToShortDateString() @_scores[i].Timestamp.ToShortTimeString()</td>
			</tr>
		}
		</tbody>
	</table>
}


@code {
	
	private List<Score>? _scores;

	protected override async Task OnInitializedAsync()
	{
		_scores = await GameService.GetTopScores(10);
	}

}
